<div id="user-{{ i }}" *ngFor="let user of users$ | async; let i = index">
  <p>{{ user.login }}</p>
  <p>{{ user.url }}</p>
  <p>{{ user.admin }}</p>
  <img [src]="user.avatar" alt="avatar" width="200" />
</div>
